.btn-bern-blue, .btn-bern-red, .btn-bern-modal{
  color: $white;
  border-color: $white;
  background: transparent none;
}

.btn-bern-blue:hover, .btn-bern-modal:hover {
  background-color: $red;
}

.btn-bern-modal, .btn-bern-red:hover {
  background-color: $blue;
}