#delegateswon {
  max-width: 100% !important;
  width: 100%;
  height: auto;
}

#bar {
  padding: 2rem 0;
  text-align: center;
}

#delegates {
  max-width: 100%;
  width: 15.63rem;
  height: 15.63rem;
}

#revolvingchart {
  text-align: center;
  margin-bottom: 3rem;
}

.card-block {
  padding: 3.25rem;
}

.chart-titles {
  margin-bottom: 2rem;
}


ul.pie-legend {
  text-align: left;
  margin-top: 2rem;
}

.pie-legend li {
  list-style: none;
  margin-bottom: 1rem;
}

.pie-legend span {
  padding: .25rem 1rem;
  margin-right: 1rem;
}