@import "_bluemodule.scss";
@import "_redmodule.scss";
@import "_states.scss";
@import "_superdelegates.scss";


#delegatecount {
  background-color: $white;
}

#upcomingvotes {
  background-color: $red;
}

.progress {
  height: 2rem;
}

#coffee {
  margin-top: 3rem;
}