@import "_bluemodule.scss";
@import "_redmodule.scss";


#delegatecount {
  background-color: $white;
}

#upcomingvotes {
  background-color: $red;
}

.progress {
  height: 2rem;
}

#staterowone, #staterowtwo {
  margin: 2rem 0;
}

#berniestates .img-fluid {
  margin: auto;
}

#coffee {
  margin-top: 3rem;
}